# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- list some of the commonly used libraries in data science
- list some of the popular languages that data scientists use
- create an arithmetic expression to multiply and then add an integer

### Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R

|Data Science Tools|
|----|
|Rstudio|
|Apache Spark|
|Tensor Flow|

## Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. MatplotLib

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

(200/60)

3.3333333333333335

## Lakshmi Holla and Niveditha Pandith
Rodrigo Correia